.card-title {
	margin-top: 50px;
	margin-bottom: 30px;
}

.cardaction button{
	background-color: rgba(39,123,186);
	border-radius: 5px;
	border: 1px solid rgba(39,123,186);
	height: 35px;
	width: 100px;
	color: #fff;
}
.cardaction button:disabled {
	background-color: #cccccc;
	border: 1px solid #999999;
	color: #666666;
}

@media only screen and (max-width: 600px) {
	.card-temple {
		margin-bottom: 20px;
	}
}