@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #C89832;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
}

.navbar {
	color: var(--primary-dark) !important;
}

.nav-link {
	color: var(--primary-white) !important;
}

.nav-item {
	transition: ease-in 0.5s;
}

.nav-item:hover{
	border: 2px solid var(--primary-white);
	background-color: var(--primary-orange);
	border-radius: 5px;
}


.nav-link:hover {
	color: var(--primary-white) !important;
	/* border: 1px solid var(--primary-orange); */
} 





