@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #C89832;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
	
}

.navbar {
	background-color: rgba(255, 255, 255, 0.8) !important;
	border-bottom: solid 1px #fff;
}

.navbar-toggler {
	background-color: #212529 !important;
}


.nav-link {
	color: #212529 !important;
}

.navbar-brand img{
	height: 40px !important;
	width: 100% !important;
}

/* .nav-item {
	transition: ease-in 0.5s;
} */

.nav-item:hover{
	border-bottom: 2px solid #BE7C63;
}


/* .nav-link:hover {
	color: var(--primary-white) !important;
}  */





